/*Shop*/
[style*="https://cdn.discordapp.com/app-assets/1096190356233670716/1217623891149586563.jpg"],
[id="shop-item-1217624148080332820"], 
[id="shop-item-1217625289681801316"], 
[id="shop-item-1217625572168044604"], 
[id="shop-item-1217625794382401577"], 
[id="shop-item-1217626024540508170"], 
[id="shop-item-1217626219651006495"],
[id="shop-item-1217626509737459852"],
[id="shop-item-1217627051217911848"],
[id="shop-item-1217627230818009171"] {
  display: none;
}
/*Links*/
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_27bbf0b53b1054cf61e9a4c0e8d4027f.png"],
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_629689577fa1da2ef0061a5a8c930de1.png"],
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_0c0eeb351ae2cf48c6e1eee2cae49d40.png"],
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_9867b1ba56601e745cfe741e6b00b835.png"],
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_4cd9ae5a8d103c219eacd3674d7730cd.png"],
[src*="https://cdn.discordapp.com/avatar-decoration-presets/a_ab95c78401ce4ec85c25a6d308db9d85.png"],
[src*="https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-11"] {
    object-position: 9999px;
    background-image: url(https://raw.githubusercontent.com/DTACat/No-Springtoons/main/NoToons.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
